<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../lib/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <link rel="icon" href="/images/logos/favicon.ico">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Sherryk - Projects</title>
</head>

<body>

    <nav>
        <div class="flex items-center justify-between flex-wrap max-w-screen-xl py-6 md:py-16 px-6 m-auto">
            <div class="flex items-center flex-shrink-0 w-16 md:w-24">
                <a href="/index.html"><img src="../images/logos/s.png" alt="logo"></a>
            </div>
            <div class="nav-toggler block md:hidden">
                <button
                    class="mdi mdi-menu text-gray-700 text-xl border rounded border-gray-400 px-2 py-0 focus:outline-none"></button>
            </div>
            <div class="navbar w-full block md:flex md:items-center md:w-auto hidden">
                <div class="text-lg md:flex-grow">
                    <a href="/views/projects.html"
                        class="block mt-4 md:inline-block md:mt-0 text-gray-500 hover:text-gray-700 mr-4">
                        Projects
                    </a>
                    <a href="/views/resume.html"
                        class="block mt-4 md:inline-block md:mt-0 text-gray-500 hover:text-gray-700 mr-4">
                        Resume
                    </a>
                    <a href="/views/about.html"
                        class="block mt-4 md:inline-block md:mt-0 text-gray-500 hover:text-gray-700">
                        About
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <main id="top" class="max-w-screen-xl m-auto">
        <div id="projects-container"></div>
        <a href="#top" class="fixed bottom-0 right-0 bg-gray-300 text-white-800 py-2 px-4 rounded md:hidden">Back
            to Top</a>
    </main>

    <footer class="max-w-screen-xl m-auto py-10 md:py-20 px-6 mt-3">
        <div class="flex justify-evenly md:justify-between">
            <div class="me w-20 h-20 bg-no-repeat bg-cover bg-center rounded-full"></div>
            <div class="text-gray-500 hidden md:block self-center">&copy;2020 Sherry K &hearts;</div>
            <ul class="flex text-4xl self-center text-gray-500">
                <li><a href="#"><span class="mdi mdi-linkedin mr-2  hover:text-gray-700"></span></a></li>
                <li><a href="https://github.com/kbingjie" target="blank"><span
                            class="mdi mdi-github mr-2  hover:text-gray-700"></span></a>
                </li>
                <li><a href="mailto:kbingjie@gmail.com"><span
                            class="mdi mdi-email mr-2  hover:text-gray-700"></span></a></li>
            </ul>
        </div>

        <script type="module" src="/scripts/app.js"></script>
    </footer>
</body>

</html>