<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <link rel="icon" href="/images/logos/favicon.ico">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Sherryk - Projects</title>
</head>

<body>

    <nav>
        <div class="flex items-center justify-between flex-wrap max-w-screen-xl py-6 md:py-16 px-6 m-auto">
            <div class="flex items-center flex-shrink-0 w-16 md:w-24">
                <a href="/index.html"><img src="../images/logos/s.png" alt="logo"></a>
            </div>
            <div class="nav-toggler block md:hidden">
                <button
                    class="mdi mdi-menu text-gray-700 text-xl border rounded border-gray-400 px-2 py-0 focus:outline-none"></button>
            </div>
            <div class="navbar w-full block md:flex md:items-center md:w-auto hidden">
                <div class="text-lg md:flex-grow">
                    <a href="/views/projects.html"
                        class="block mt-4 md:inline-block md:mt-0 text-gray-500 hover:text-gray-700 mr-4">
                        Projects
                    </a>
                    <a href="/views/resume.html"
                        class="block mt-4 md:inline-block md:mt-0 text-gray-500 hover:text-gray-700 mr-4">
                        Resume
                    </a>
                    <a href="/views/about.html"
                        class="block mt-4 md:inline-block md:mt-0 text-gray-500 hover:text-gray-700">
                        About
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <main class="max-w-screen-xl m-auto">
        <div>
            <!-- projects start  1st-->
            <div class="md:flex flex-1 mb-16">
                <div class="md:w-2/4 px-6 project-container">
                    <a href="https://myjourneys.kbingjie.com/"><img src="../images/projects/myJourney.jpg"
                            alt="Project One"
                            class="rounded md:object-cover md:object-center md:w-full md:h-full project-img opacity-75 transition duration-500 ease"></a>
                </div>

                <div class="px-10 pt-6 md:pt-0 md:w-2/4">
                    <div class="text-2xl font-bold text-gray-800">My Journeys</div>
                    <div class="italic my-2 text-red-500">Full Stack</div>
                    <div class="md:mt-8 text-gray-700">This project is built with Vue.js, Vue Router and Vuex, backend
                        with
                        Firebase
                        Database, Firebase Auth, Firebase Store, Node.js. Plugins with slugify, moment.js, Google
                        Map API. <br>User can register and login to this site, publish journeys, edit/delte
                        Journeys,
                        leave comments, search Journey title, </div>
                    <div class="mt-8">
                        <a class="text-gray-600 hover:text-gray-800 underline py-2"
                            href="https://github.com/kbingjie/journeys" target="blank">Read More..</a>
                    </div>
                </div>
            </div>

            <!-- projects start  2nd-->

            <div class="md:flex flex-1 mb-16">
                <div class="md:w-2/4 px-6 project-container">
                    <a href="https://myjourneys.kbingjie.com/"><img src="../images/projects/ZooProject.jpg"
                            alt="Project One"
                            class="rounded  md:object-cover md:object-center md:w-full md:h-full project-img opacity-75 transition duration-500 ease"></a>
                </div>

                <div class="px-10 pt-6 md:pt-0 md:w-2/4">
                    <div class="text-2xl font-bold text-gray-800">McFarland Zoo</div>
                    <div class="italic my-2 text-red-500">Responsive Design</div>
                    <div class="md:mt-8 text-gray-700">A responsive website with 2 beakpoints, table and form control
                        built with
                        HTML5,CSS3,JavaScript, FontAwesome, RegEx</div>
                    <div class="mt-8">
                        <a class="text-gray-600 hover:text-gray-800 underline py-2"
                            href="https://github.com/kbingjie/Zoo-Website" target="blank">Read More..</a>
                    </div>
                </div>
            </div>

            <!-- projects start  3rd-->
            <div class="md:flex flex-1 mb-16">
                <div class="md:w-2/4 px-6">
                    <img src="../images/projects/skincareShopping.jpg" alt="Project One"
                        class="rounded  md:object-cover md:object-center md:w-full md:h-full">
                </div>

                <div class=" px-10 pt-6 md:pt-0 md:w-2/4">
                    <div class="text-2xl font-bold text-gray-800">Skincare Shopping Cart</div>
                    <div class="italic my-2 text-red-500">Vue.js, Vue Router, Vuex</div>
                    <div class="md:mt-8 text-gray-700">This project is built with Node.js, Vue.js, Vuex, Vue Router,
                        HTML, CSS
                    </div>
                    <div class="mt-8">
                        <a class="text-gray-600 hover:text-gray-800 underline py-2"
                            href="https://github.com/kbingjie/skincare-shopping" target="blank">Read More..</a>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </main>

    <footer class="py-10 md:py-20 px-6 mt-3">
        <div class="flex justify-evenly md:justify-between">
            <div class="me w-20 h-20 bg-no-repeat bg-cover bg-center rounded-full"></div>
            <div class="text-gray-500 hidden md:block self-center">&copy;2020 Sherry K &hearts;</div>
            <ul class="flex text-4xl self-center text-gray-500">
                <li><a href="#"><span class="mdi mdi-linkedin mr-2  hover:text-gray-700"></span></a></li>
                <li><a href="https://github.com/kbingjie" target="blank"><span
                            class="mdi mdi-github mr-2  hover:text-gray-700"></span></a>
                </li>
                <li><a href="mailto:kbingjie@gmail.com"><span
                            class="mdi mdi-email mr-2  hover:text-gray-700"></span></a></li>
            </ul>
        </div>

        <script src="/scripts/app.js"></script>
    </footer>
</body>

</html>