<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <link rel="icon" href="/images/logos/favicon.ico">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/projects.css">
    <title>Sherryk - Projects</title>
</head>

<body>

    <nav>
        <div class="container">
            <a href="/index.html" class=logo></a>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>

    <header class="container">
        <h2>My projects</h2>
    </header>

    <main>
        <div class="container">
            <!-- projects start  1st-->
            <div class="project-box">

                <div class="hover3d">

                    <div class="hover3d-child">
                        <div class="project-img">
                            <img src="../images/projects/myJourney.jpg" alt="Project One" class="img-responsive">
                        </div>
                    </div>

                    <div class="project-info">
                        <h3>My Journeys</h3>
                        <span>Responsive Design</span>
                        <p>This is my first Vue.js project, I used Vue Router, Vuex, backend with Firebase
                            Database, Firebase Auth, Firebase Store, Node.js. Plugins with slugify, moment.js, Google
                            Map API. <br>User can register and login to this site, publish journeys, edit/delte
                            Journeys,
                            leave comments, search Journey title, </p>
                        <a class="button" href="http://myjourneys.kbingjie.com">Take A Look</a>

                    </div>
                </div>
            </div>

            <!-- projects start  2nd-->
            <div class="project-box">

                <div class="hover3d">

                    <div class="hover3d-child">
                        <div class="project-img">
                            <img src="../images/projects/ZooProject.jpg" alt="Project One" class="img-responsive">
                        </div>
                    </div>

                    <div class="project-info">
                        <h3>McFarland Zoon</h3>
                        <span>Responsive Design</span>
                        <p>This project is built with pure JavaScript, HTML, CSS, Flexbox, used fontawesome library</p>
                        <a class="button" href="http://kbingjie.com/schoolProject-Zoo-Website/">Take A Look</a>

                    </div>
                </div>
            </div>
            <!-- projects start  3rd-->
            <div class="project-box">

                <div class="hover3d">

                    <div class="hover3d-child">
                        <div class="project-img">
                            <img src="../images/projects/myJourney.jpg" alt="Project One" class="img-responsive">
                        </div>
                    </div>

                    <div class="project-info">
                        <h3>My Journeys</h3>
                        <span>My first project</span>
                        <p>This website is built with Node.js, bootstrap, Google API, JavaScript, HTML, CSS</p>
                        <button>Take A Look</button>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="container">
        <div class="myCats">
            <div class="chypre"></div>
            <div class="maomao"></div>
        </div>
        <div class="copyRight">Copy right&copy;Sherrysssss &hearts;</div>
        <ul>
            <li><a href="#"><span class="mdi mdi-linkedin"></span></a></li>
            <li><a href="#"><span class="mdi mdi-github"></span></a></li>
            <li><a href="#"><span class="mdi mdi-email"></span></a></li>
        </ul>
    </footer>
</body>

</html>