@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,300&display=swap');

/* Set font and get rid of white space while scroll page up and down */
html {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}
/* project image hover effect ,index */
#index .project-container:hover .project-img {opacity: 1;}

/* project image hover effect ,projects */
#top .project-container:hover .project-img {opacity: 0.75;}


/* footer */
.me {background-image: url(../images/me.jpg);}